/.idea/
/NovelWordDiscovery/Temp
/NovelWordDiscovery/CandidateWordResult/
/NovelWordDiscovery/NewWordResult
/NovelWordDiscovery/NewWordDiscovery/__pycache__/
/NovelWordDiscovery/NewWordDiscovery/tool/__pycache__
